*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/generated/ksp/debug/java/com/barbermanagerpro/app/BarberManagerApp_GeneratedInjector.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/app/Hilt_MainActivity.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/app/MainActivity_GeneratedInjector.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel_Factory.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel_HiltModules.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel_HiltModules_KeyModule_ProvideFactory.java
/app/build/generated/ksp/debug/java/dagger/hilt/internal/aggregatedroot/codegen/_com_barbermanagerpro_app_BarberManagerApp.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_app_BarberManagerApp_GeneratedInjector.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_app_MainActivity_GeneratedInjector.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_feature_customer_presentation_addCustomer_AddCustomerViewModel_HiltModules_BindsModule.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_feature_customer_presentation_addCustomer_AddCustomerViewModel_HiltModules_KeyModule.java
/app/build/generated/res/processDebugGoogleServices/values/values.xml
/app/build/intermediates/classes/debugUnitTest/transformDebugUnitTestClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModelTest.class
/app/build/tmp/kotlin-classes/debugUnitTest/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModelTest.class
/app/build/reports/tests/testDebugUnitTest/classes/com.barbermanagerpro.ExampleUnitTest.html
/app/build/reports/tests/testDebugUnitTest/classes/com.barbermanagerpro.feature.customer.presentation.addCustomer.AddCustomerViewModelTest.html
/app/build/reports/tests/testDebugUnitTest/packages/com.barbermanagerpro.feature.customer.presentation.addCustomer.html
/app/build/reports/tests/testDebugUnitTest/packages/com.barbermanagerpro.html
/app/build/tmp/testDebugUnitTest/jar_extract_10800978300579896572_tmp
/app/build/test-results/testDebugUnitTest/TEST-com.barbermanagerpro.ExampleUnitTest.xml
/app/build/test-results/testDebugUnitTest/TEST-com.barbermanagerpro.feature.customer.presentation.addCustomer.AddCustomerViewModelTest.xml
