*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build/generated/ksp/debug/java/com/barbermanagerpro/app/BarberManagerApp_GeneratedInjector.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/app/Hilt_MainActivity.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/app/MainActivity_GeneratedInjector.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel_Factory.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel_HiltModules.java
/app/build/generated/ksp/debug/java/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel_HiltModules_KeyModule_ProvideFactory.java
/app/build/generated/ksp/debug/java/dagger/hilt/internal/aggregatedroot/codegen/_com_barbermanagerpro_app_BarberManagerApp.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_app_BarberManagerApp_GeneratedInjector.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_app_MainActivity_GeneratedInjector.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_feature_customer_presentation_addCustomer_AddCustomerViewModel_HiltModules_BindsModule.java
/app/build/generated/ksp/debug/java/hilt_aggregated_deps/_com_barbermanagerpro_feature_customer_presentation_addCustomer_AddCustomerViewModel_HiltModules_KeyModule.java
/app/build/generated/res/processDebugGoogleServices/values/values.xml
/app/build/intermediates/classes/debugUnitTest/transformDebugUnitTestClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModelTest.class
/app/build/tmp/kotlin-classes/debugUnitTest/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModelTest.class
/app/build/reports/tests/testDebugUnitTest/classes/com.barbermanagerpro.ExampleUnitTest.html
/app/build/reports/tests/testDebugUnitTest/classes/com.barbermanagerpro.feature.customer.presentation.addCustomer.AddCustomerViewModelTest.html
/app/build/reports/tests/testDebugUnitTest/packages/com.barbermanagerpro.feature.customer.presentation.addCustomer.html
/app/build/reports/tests/testDebugUnitTest/packages/com.barbermanagerpro.html
/app/build/tmp/testDebugUnitTest/jar_extract_10800978300579896572_tmp
/app/build/test-results/testDebugUnitTest/TEST-com.barbermanagerpro.ExampleUnitTest.xml
/app/build/test-results/testDebugUnitTest/TEST-com.barbermanagerpro.feature.customer.presentation.addCustomer.AddCustomerViewModelTest.xml
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/+NmuoMBu9EgUw6_8yI9OkkcANc4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0oijwI42e0XZMf75IKXP3oYZgWE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/0wGE_lmwdaKLGsSaRkmj81Yi4wk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2d5U_VPRE8FEoZYNubuWGNrwhtc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2HKmUUO45Af5xcwbx+3Yx5Z7XTA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/02SSt2hZGVh7GfOZriCTk04m_XE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3PsNVB+BGegNQE48USCO0CEw_eE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3UQKMdQGbzbIWaFu1x+D1bDmBNo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/3ZnEe+dcsfg5VEui2nEVXZScPbo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4ksXaZ3L0_7MBIvAvUjjrSHKM3w=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/4uJ5nmqHIBzNSL+DmWiLjfj8lqc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5Q_L8dUGhWtxQmNXN+zY7vmY8Eo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/5tRI+5W551uDQ7Z4mjsxCizI3vo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6JMlCiPBhm0AEDVJ_eHBKoeVBmc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6pHiyIcOYpovsYjTcdT5dpSPHOQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7Jfun2JXi3PCfa68PVn0WCh0EF8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/7L_sPKPQtC1QT0qJtP_U2ci4oSE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/9zJxsXNStgdJcej3iD7Uh1Nbf2s=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/17M1OUFrWhGBUDKLEY_QCbDdwQI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/75OqCtOBudIySqMacdSs2xvnUx0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/98E+D94eixkshWbFd9eMa+9dJCU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_QYzthIkomRXDk7nBi6z49yAXnc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/_rqfQcbKwGVeJoIf1iqSMiZu8mY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/a4qBtatVBkCSBoTL4rE3iUDem0U=
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$3$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$3$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$3$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$1$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$1$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$1$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$2$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$2$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$2$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$3$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$3$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$3$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$4$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$4$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$4$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$5$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$5$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$5$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$6$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$6$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$6$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$7$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$7$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$7$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$8$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$8$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4$8$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerScreenKt$AddCustomerScreen$4.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel$loadCustomer$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel$loadCustomer$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel$loadCustomer$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel$onDeleteClick$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel$onDeleteClick$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/addCustomer/AddCustomerViewModel$onDeleteClick$1.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/aiZd2QSx5Rq6fHAKTTpi+zGxIl8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/b81mIfwr4jurrYByzwJctA0wihA=
/app/src/main/java/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigation.kt
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt$BarberNavigation$1$1$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt$BarberNavigation$1$1$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt$BarberNavigation$1$1$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt$BarberNavigation$1$1$2.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt$BarberNavigation$1$1$2.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt$BarberNavigation$1$1$2.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/BarberNavigationKt.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bcY1A2dASo9OIzRxvDaS3ilz6as=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Bg1HLOcbHcLHw8Qqj1TQiquPdYk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/C8J8_YdzS2tRX6L+IOBHbhRREQQ=
/app/src/main/java/com/barbermanagerpro/core/Constants.kt
/app/src/main/java/com/barbermanagerpro/feature/customer/presentation/customerList/CustomerListScreen.kt
/app/src/main/java/com/barbermanagerpro/feature/customer/presentation/customerList/CustomerListState.kt
/app/src/main/java/com/barbermanagerpro/feature/customer/presentation/customerList/CustomerListViewModel.kt
/app/src/main/java/com/barbermanagerpro/feature/customer/domain/repository/CustomerRepository.kt
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DjjOYpgnRWRLJHOdqFiTM2llpRM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/doXgGRmYyg7YzgamtN0Kg0TqDVo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Dv1hP91J9NqNEAjKEihbfS7PEyg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/DY_l3tWdeT9DuYQLgLkT65EhTFE=
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/e7496a6bd577b9dbe6c118896deb5202a2e9790430a2ff006ed98817249ff752_0.jar
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/e7496a6bd577b9dbe6c118896deb5202a2e9790430a2ff006ed98817249ff752_1.jar
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/e7496a6bd577b9dbe6c118896deb5202a2e9790430a2ff006ed98817249ff752_2.jar
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/e7496a6bd577b9dbe6c118896deb5202a2e9790430a2ff006ed98817249ff752_3.jar
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/e7496a6bd577b9dbe6c118896deb5202a2e9790430a2ff006ed98817249ff752_4.jar
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/e7496a6bd577b9dbe6c118896deb5202a2e9790430a2ff006ed98817249ff752_5.jar
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/eb+NR82XnLin+5t2v4tcMz0ghU8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EF+ukpdKcXSPnAazXZsts6+H0z0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/eP0ALX4Rv0StqWC3Odb5zx141VM=
/app/src/test/java/com/barbermanagerpro/feature/customer/data/repository/FakeCustomerRepository.kt
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/fbOCdKyhA3BpXcM+9Q_qyyOgMmM=
/app/src/main/java/com/barbermanagerpro/di/FirebaseModule.kt
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/data/repository/FirestoreCustomerRepository$deleteCustomer$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/data/repository/FirestoreCustomerRepository$deleteCustomer$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/data/repository/FirestoreCustomerRepository$deleteCustomer$1.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/data/repository/FirestoreCustomerRepository$getCustomerById$1.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/data/repository/FirestoreCustomerRepository$getCustomerById$1.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/data/repository/FirestoreCustomerRepository$getCustomerById$1.dex
/app/src/main/java/com/barbermanagerpro/feature/customer/data/repository/FirestoreCustomerRepository.kt
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/FWX0eOR6IQ_SGIjgMol1GECeybw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/GGRk0Xnwf7e_++EENET1wVYvEHE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HqdjpV_aBJt0bnUz0J+5sBwfikQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hRadS51ppVxGqgUC7NRZCC7c4yQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HSAJIvrr3iAugVSOdXtVWoC6sIw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/HU2f_4dm3lkU9puQRqX_tKgr170=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/IViXny170Vbn4sPBzUgXfBARdjk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JKRCDUhSPoer+d3B3oxx2gYsqn4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JNzDt4sf1gHLqlxQF3ycA8tWMgA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/JPWmTK21izTQJqtZ9cuxT0zCW5g=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/k7VHRBC860y807NpI4dHCwMPuaU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KKKhcGnt6G6sPs3Z59R6YKK+s0o=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KkpD4RR98ZzsFfgaSl5hRcsNe_U=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/KudJ1pjuyt9N6M7b9U3LuaPl3+8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/kx_tGMd4WO9pSeHuwvTS2ru8kgg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/l4pIeT6JdAVObuSavJ1SXicEWEA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/LoY0QN5ab61J1PM7RUbu15gJDYg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/m1tecMXHCprVkCOuM4q8U6ZjnpA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/M26l56fYERmMJZLeLsznzeeW7CA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MNOTl67UH7fyuqC79EgJNsqJdpc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/myKpoGXYFaSbOeZJ3BVSWa7jBDM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/N78HjopVnu6+DxLIE2r1kgpC6_c=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NA2xQcX9OTli_XBDs0MCQLf9Lhs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NcJdyvqQwlIPnOPYthsbmSDCeQY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ncnW+DDkpQLIQc2iWoEclocwMIk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Oh8lCfnBCWZRzoJJdXxZ4sCBtzA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/OoyJtApsMzFg_g+Alf2xmYmf_8U=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/OoZQ5HBw_7PB0fdVHBgwr7Z2RQY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/PkLIUO3tJbZsm82WuLhjsnqWRjg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/pNJetNqKApdh0CQPV7PJ1U1a1Ew=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Po0C7EiLU59igpZNnKQzT3mxx40=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qGKVzzqwdfPjdIUHSRXAD6HggS4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qin96QImhy71TSp8mrgRproSm4A=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/QPu0ybRpuUr1M9iz5In0wI1VOcQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qRvp2Dpt6gwNC6TSHWCXa4adfgw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ReDqw9Au6H4ptSgJvRxFnLcYuS4=
/app/src/main/java/com/barbermanagerpro/di/RepositoryModule.kt
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Ri2Ej_lLSxqsceTr5MVvtixZwUE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/rxdhrQGbzsfQ_JwMhWYNOu6lleA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/S9l7orEo+U4fq9Vrzfq3W2YlxG4=
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer$$serializer.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer$$serializer.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer$$serializer.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer$Companion.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer$Companion.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer$Companion.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$AddCustomer.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$CustomerList.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$CustomerList.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/Screens$CustomerList.dex
/app/build/intermediates/classes/debug/transformDebugClassesWithAsm/dirs/com/barbermanagerpro/feature/customer/presentation/navigation/Screens.class
/app/build/tmp/kotlin-classes/debug/com/barbermanagerpro/feature/customer/presentation/navigation/Screens.class
/app/build/intermediates/project_dex_archive/debug/dexBuilderDebug/out/com/barbermanagerpro/feature/customer/presentation/navigation/Screens.dex
/app/src/main/java/com/barbermanagerpro/feature/customer/presentation/navigation/Screens.kt
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Se03YzdLvOBCxQXkDrfL+wheIP4=
/docs/images/searchCustomerScreen.png
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SGMF1anB8FuRUOveIHCl0Q6aOWU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/SMwBcRpACOnInAB1u40xu8xyLds=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/t8bQEG+sM2WvDBlDtGF9pdg5CQ0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TA29miKIWeBXUUDIcW3akTWH+l4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tCyjts+FtTkUvPdvfcvndYK+xAY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/tj9nUEVIoRgOYhugW+eojTDtbeE=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ToOZ+Ncy4JGz2fHs1oqCaQpbRzA=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/txC5VXUSXs3958LdJHPhvEOlKOY=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Tyhkc3G0qsg+1LMDGWrFcTHifbc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UjkkEruFnifnJNZelrUTydUwHek=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/uNuvbIcNClxA+OzKDuWQwdAlhlw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Uv6JqhtlaerkhcS9lqJSytjicZw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/v9L6VOPTGkILRGO4VlpvRRwL7B8=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/W0TzizP7q3bUU7axaWdy_+YAtk4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wfelEpmLprZZBfHXOQ+kjQDBaE0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WMhyCq3l9hZ+kETgU6rDhkiHnGg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/Wp6GCmvEItPUv_DpSU6hon7w+8k=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/WRkUWtIsArALpb6Aazp4Zgyp0Mc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wSeVf9wd5b3EHCTiUyScSRMw1m0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/x3Q9MkF5jKKC3kRUebQ2YGDh4HQ=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XEYYe6CJ68pBauzFMtzZnLREUuk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XeZp_Bq2S1WzO8uInuOqG99JaQk=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xMx9B27d1i0IkTd857em2IlMGzo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xNiJVSR2wmJ08lW4BOHa0c9o7qc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/xPuAwath2EgNotjJbcyM6vUPICU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/YDghtd6f9QKJTkyKT5HUfsdYURM=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/z3tM5GY9uEJ7ASe_2hSYvMjI14Y=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ZngZng4D_L_ahOsxjTfJ3oyHU9M=
